In [259]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [260]:
%run ../notebook_preamble.ipy

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [261]:
import geopandas as gpd

In [262]:
import os

In [263]:
from urllib.request import urlretrieve
from zipfile import ZipFile
from beis_indicators import project_dir

In [264]:
from beis_indicators.geo.coders import NutsCoder, LepCoder
# from beis_indicators.geo.nuts import auto_nuts2_uk
from beis_indicators.indicators import points_to_indicator

In [265]:
lsoa_shp_01 = gpd.read_file('../../data/raw/Lower_Layer_Super_Output_Areas__December_2001__EW_BGC-shp/Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.shp')
lsoa_shp_11 = gpd.read_file('../../data/raw/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BGC_v3-shp/Lower_Layer_Super_Output_Areas__December_2011__Boundaries_EW_BGC_v3.shp')

In [266]:
# LSOA to lon/lat
lsoa_shp_geo_01 = lsoa_shp_01.to_crs(epsg=4326)
lsoa_shp_geo_11 = lsoa_shp_11.to_crs(epsg=4326)

In [267]:
lsoa_shp_geo_11.head(2)

,OBJECTID,LSOA11CD,LSOA11NM,LSOA11NMW,Age_Indica,Shape__Are,Shape__Len,geometry
0,1,E01000001,City of London 001A,City of London 001A,0,133320.768867,2291.846072,POLYGON ((-0.0972886732320328 51.5215770420208...
1,2,E01000002,City of London 001B,City of London 001B,0,226191.273003,2433.960112,POLYGON ((-0.08812915078150488 51.519410719510...

In [268]:
# print(lsoa_shp_geo.iloc[0].geometry.centroid.x, lsoa_shp_geo.iloc[0].geometry.centroid.y)

lsoa_shp_geo_01['lon'] = lsoa_shp_geo_01.geometry.apply(lambda i: i.centroid.x)
lsoa_shp_geo_01['lat'] = lsoa_shp_geo_01.geometry.apply(lambda i: i.centroid.y)

lsoa_shp_geo_11['lon'] = lsoa_shp_geo_11.geometry.apply(lambda i: i.centroid.x)
lsoa_shp_geo_11['lat'] = lsoa_shp_geo_11.geometry.apply(lambda i: i.centroid.y)

In [269]:
lsoa_shp_geo_re_01 = lsoa_shp_geo_01.rename(columns={'LSOA01CD':'LSOA_code'})
lsoa_shp_geo_re_11 = lsoa_shp_geo_11.rename(columns={'LSOA11CD':'LSOA_code'})

2011 data (England and Wales) uses 2001 LSOA data <br />
2013 data (England only) uses 2011 LSOA data

- Read more here: http://data.dft.gov.uk.s3.amazonaws.com/connectivity-data/Brief-guide-to-connectivity-travel-time-data_v2.pdf

## Road Junctions

Method: Averaging time over the nearest 5 road junctions 

Time of day: AM

Mode of transport: Car

In [270]:
#2011 data
df_road = pd.read_csv('../../data/raw/travel/Road-junctions-travel-times/Junctions_HW_AM.csv')
#2013 data
df_road_13 = pd.read_csv('../../data/raw/travel/2013_Junctions_HW_AM.csv')

In [271]:
print(len(df_road))
print(len(df_road_13))

16869696
16051932

In [272]:
df_road_filter = df_road[df_road['NearOrder'] <= 4]
df_road_filter_13 = df_road_13[df_road_13['NearOrder'] <= 4]

In [273]:
len(df_road_filter)
len(df_road_filter_13)

163770

In [274]:
df_road_filter.reset_index(inplace=True, drop=True)
df_road_filter_13.reset_index(inplace=True, drop=True)

In [275]:
df_road_lat_lon = df_road_filter.merge(lsoa_shp_geo_re_01, on='LSOA_code', how='left')#
df_road_lat_lon_13 = df_road_filter_13.merge(lsoa_shp_geo_re_11, on='LSOA_code', how='left')

In [276]:
df_road_lat_lon = df_road_lat_lon[['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']]
df_road_lat_lon_13 = df_road_lat_lon_13[['LSOA_code', 'RepTime', 'Percentage Services', 'UID', 'NearOrder', 'lon', 'lat']]
df_road_lat_lon_13.columns = ['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']

In [277]:
df_road_lat_lon['year'] = 2011
df_road_lat_lon_13['year'] = 2013

In [278]:
df_road_latlon_11_13 = pd.concat([df_road_lat_lon, df_road_lat_lon_13]).reset_index(drop=True)

### NUTS 2

In [279]:
df_road_nuts2 = points_to_indicator(df_road_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=2),
                    aggfunc=np.mean, value_rename='travel_to_road_junctions_average_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:43:06,015 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2016 boundaries
2020-10-12 14:43:10,256 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2021 boundaries
2020-10-12 14:43:13,759 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2003 boundaries
2020-10-12 14:43:18,746 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2006 boundaries
2020-10-12 14:43:30,061 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2010 boundaries
2020-10-12 14:43:34,901 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [280]:
df_road_nuts2 = df_road_nuts2.sort_values(by='nuts_id')

In [281]:
df_road_nuts2.to_csv('../../data/processed/travel/travel_to_road_junctions_average_time.nuts2.csv', index=False)

### NUTS 3

In [282]:
df_road_nuts3 = points_to_indicator(df_road_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=3),
                    aggfunc=np.mean, value_rename='travel_to_road_junctions_average_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:44:21,785 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2016 boundaries
2020-10-12 14:44:27,005 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2021 boundaries
2020-10-12 14:44:31,981 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2003 boundaries
2020-10-12 14:44:39,283 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2006 boundaries
2020-10-12 14:44:55,842 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2010 boundaries
2020-10-12 14:45:04,208 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [283]:
df_road_nuts3 = df_road_nuts3.sort_values(by='nuts_id')

In [284]:
df_road_nuts3.to_csv('../../data/processed/travel/travel_to_road_junctions_average_time.nuts3.csv', index=False)

### LEP

In [285]:
df_road_lep = points_to_indicator(df_road_latlon_11_13, value_col='RepTime', coder=LepCoder(),
                    aggfunc=np.mean, value_rename='travel_to_road_junctions_average_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:46:05,493 - beis_indicators.geo.coders - INFO - Loading LEP 2014 boundaries
2020-10-12 14:46:18,092 - beis_indicators.geo.coders - INFO - Loading LEP 2017 boundaries
2020-10-12 14:46:27,262 - beis_indicators.geo.coders - INFO - Loading LEP 2020 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [286]:
df_road_lep = df_road_lep.sort_values(by='lep_id')

In [287]:
df_road_lep.to_csv('../../data/processed/travel/travel_to_road_junctions_average_time.lep.csv', index=False)

## Airport

Method: Closest airport 

Time of Day: AM

Mode of transport: Car

In [288]:
df_air_11 = pd.read_csv('../../data/raw/travel/Airports-travel-times/Airports_HW_AM.csv')
df_air_13 = pd.read_csv('../../data/raw/travel/2013_Airports_HW_AM.csv')

In [289]:
df_air_filter_11 = df_air_11[df_air_11['NearOrder'] <= 0]
df_air_filter_13 = df_air_13[df_air_13['NearOrder'] <= 0]

In [290]:
print(len(df_air_filter_11))
print(len(df_air_filter_13))

34288
32754

In [291]:
df_air_filter_11.reset_index(inplace=True, drop=True)
df_air_filter_13.reset_index(inplace=True, drop=True)

In [292]:
df_air_lat_lon = df_air_filter_11.merge(lsoa_shp_geo_re_01, on='LSOA_code', how='left')
df_air_lat_lon_13 = df_air_filter_13.merge(lsoa_shp_geo_re_11, on='LSOA_code', how='left')

In [293]:
df_air_lat_lon = df_air_lat_lon[['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']]
df_air_lat_lon_13 = df_air_lat_lon_13[['LSOA_code', 'RepTime', 'Percentage Services', 'UID', 'NearOrder', 'lon', 'lat']]
df_air_lat_lon_13.columns = ['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']

In [294]:
df_air_lat_lon['year'] = [2011]*len(df_air_lat_lon)
df_air_lat_lon_13['year'] = [2013]*len(df_air_lat_lon_13)

In [295]:
df_air_latlon_11_13 = pd.concat([df_air_lat_lon, df_air_lat_lon_13]).reset_index(drop=True)

### NUTS 2

In [296]:
df_air_nuts2 = points_to_indicator(df_air_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=2),
                    aggfunc=np.mean, value_rename='travel_to_airport_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:47:41,628 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2016 boundaries
2020-10-12 14:47:45,303 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2021 boundaries
2020-10-12 14:47:48,753 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2003 boundaries
2020-10-12 14:47:53,723 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2006 boundaries
2020-10-12 14:48:04,384 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2010 boundaries
2020-10-12 14:48:09,334 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [297]:
df_air_nuts2 = df_air_nuts2.sort_values(by='nuts_id')

In [298]:
df_air_nuts2.to_csv('../../data/processed/travel/travel_to_airport_time.nuts2.csv', index=False)

### NUTS 3

In [299]:
df_air_nuts3 = points_to_indicator(df_air_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=3),
                    aggfunc=np.mean, value_rename='travel_to_airport_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:48:21,901 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2016 boundaries
2020-10-12 14:48:27,011 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2021 boundaries
2020-10-12 14:48:31,991 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2003 boundaries
2020-10-12 14:48:39,344 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2006 boundaries
2020-10-12 14:48:55,633 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2010 boundaries
2020-10-12 14:49:03,214 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [300]:
df_air_nuts3 = df_air_nuts3.sort_values(by='nuts_id')

In [301]:
df_air_nuts3.to_csv('../../data/processed/travel/travel_to_airport_time.nuts3.csv', index=False)

### LEP

In [302]:
df_air_lep = points_to_indicator(df_air_latlon_11_13, value_col='RepTime', coder=LepCoder(),
                    aggfunc=np.mean, value_rename='travel_to_airport_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:49:17,460 - beis_indicators.geo.coders - INFO - Loading LEP 2014 boundaries
2020-10-12 14:49:27,160 - beis_indicators.geo.coders - INFO - Loading LEP 2017 boundaries
2020-10-12 14:49:36,971 - beis_indicators.geo.coders - INFO - Loading LEP 2020 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [303]:
df_air_lep = df_air_lep.sort_values(by='lep_id')

In [304]:
df_air_lep.to_csv('../../data/processed/travel/travel_to_airport_time.lep.csv', index=False)

## Rail Stations

Method: Closest rail station 

Time of Day: AM

Mode of transport: Car

In [305]:
df_rail_11 = pd.read_csv('../../data/raw/travel/Rail-stations-travel-times/Stations_HW_AM.csv')
df_rail_13 = pd.read_csv('../../data/raw/travel/2013_Stations_HW_AM.csv')

In [306]:
df_rail_filter_11 = df_rail_11[df_rail_11['NearOrder'] <= 0]
df_rail_filter_13 = df_rail_13[df_rail_13['NearOrder'] <= 0]

In [307]:
print(len(df_rail_filter_11))
print(len(df_rail_filter_13))

34288
32754

In [308]:
df_rail_filter_11.reset_index(inplace=True, drop=True)
df_rail_filter_13.reset_index(inplace=True, drop=True)

In [309]:
df_rail_lat_lon = df_rail_filter_11.merge(lsoa_shp_geo_re_01, on='LSOA_code', how='left')
df_rail_lat_lon_13 = df_rail_filter_13.merge(lsoa_shp_geo_re_11, on='LSOA_code', how='left')

In [310]:
df_rail_lat_lon = df_rail_lat_lon[['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']]
df_rail_lat_lon_13 = df_rail_lat_lon_13[['LSOA_code', 'RepTime', 'Percentage Services', 'UID', 'NearOrder', 'lon', 'lat']]
df_rail_lat_lon_13.columns = ['LSOA_code', 'RepTime', 'Percentage Services', 'uid', 'NearOrder', 'lon', 'lat']

In [311]:
df_rail_lat_lon['year'] = [2011]*len(df_rail_lat_lon)
df_rail_lat_lon_13['year'] = [2013]*len(df_rail_lat_lon_13)

In [312]:
df_rail_latlon_11_13 = pd.concat([df_rail_lat_lon, df_rail_lat_lon_13]).reset_index(drop=True)

### NUTS 2

In [313]:
df_rail_nuts2 = points_to_indicator(df_rail_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=2),
                    aggfunc=np.mean, value_rename='travel_to_rail_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:50:27,739 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2016 boundaries
2020-10-12 14:50:31,424 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2021 boundaries
2020-10-12 14:50:35,029 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2003 boundaries
2020-10-12 14:50:40,524 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2006 boundaries
2020-10-12 14:50:52,498 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2010 boundaries
2020-10-12 14:50:57,515 - beis_indicators.geo.coders - INFO - Loading NUTS 2 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [314]:
df_rail_nuts2 = df_rail_nuts2.sort_values(by='nuts_id')

In [315]:
df_rail_nuts2.to_csv('../../data/processed/travel/travel_to_rail_time.nuts2.csv', index=False)

### NUTS 3

In [316]:
df_rail_nuts3 = points_to_indicator(df_rail_latlon_11_13, value_col='RepTime', coder=NutsCoder(level=3),
                    aggfunc=np.mean, value_rename='travel_to_rail_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:51:16,761 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2016 boundaries
2020-10-12 14:51:25,277 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2021 boundaries
2020-10-12 14:51:31,782 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2003 boundaries
2020-10-12 14:51:40,658 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2006 boundaries
2020-10-12 14:51:58,247 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2010 boundaries
2020-10-12 14:52:06,023 - beis_indicators.geo.coders - INFO - Loading NUTS 3 2013 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [317]:
df_rail_nuts3 = df_rail_nuts3.sort_values(by='nuts_id')

In [318]:
df_rail_nuts3.to_csv('../../data/processed/travel/travel_to_rail_time.nuts3.csv', index=False)

### LEP

In [319]:
df_rail_lep = points_to_indicator(df_air_latlon_11_13, value_col='RepTime', coder=LepCoder(),
                    aggfunc=np.mean, value_rename='travel_to_rail_time',
                    projection='EPSG:4326', x_col='lon', y_col='lat')

2020-10-12 14:52:20,330 - beis_indicators.geo.coders - INFO - Loading LEP 2014 boundaries
2020-10-12 14:52:30,531 - beis_indicators.geo.coders - INFO - Loading LEP 2017 boundaries
2020-10-12 14:52:39,983 - beis_indicators.geo.coders - INFO - Loading LEP 2020 boundaries

/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')
/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/beis_indicators/geo/coders.py:45: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  joined = gpd.sjoin(points, shape, op='within', how='right')

In [320]:
df_rail_lep = df_rail_lep.sort_values(by='lep_id')

In [321]:
df_rail_lep.to_csv('../../data/processed/travel/travel_to_rail_time.lep.csv', index=False)

## Travel to Work

In [55]:
xl = pd.ExcelFile('../../data/raw/travel/averagehometoworktraveltimes16plusod18.xls')

In [56]:
xl.sheet_names

['Metadata', 'OD18']

In [57]:
lad_latlon = pd.read_csv('../../data/raw/travel/Local_Authority_Districts__December_2018__Boundaries_UK_BGC.csv')

In [58]:
df = xl.parse('OD18').drop('Office For National Statistics', axis=1)

In [ ]:
#fuzzy search

In [59]:
df.head()

  Unnamed: 1 Unnamed: 2
0        NaN        NaN
1        NaN        NaN
2        NaN        NaN
3        NaN        NaN
4        NaN        NaN

In [24]:
df.columns = ['UALADGB UA / LAD of residence', 'Mean']

In [25]:
df = df[9:419].reset_index(drop=True)

In [26]:
df['UALADGB UA / LAD of residence'][0]

'  AA City of London'

In [27]:
'47UD Redditch'.split()[1]

'Redditch'

In [28]:
df['LAD'] = df['UALADGB UA / LAD of residence'].apply(lambda x: x.strip().split(" ",1)[1])

In [30]:
del df['UALADGB UA / LAD of residence']

In [33]:
df = df[['LAD', 'Mean']]

In [41]:
len(df)

410

In [37]:
lad_latlon

,objectid,lad18cd,lad18nm,lad18nmw,bng_e,bng_n,long,lat,st_areashape,st_lengthshape
0,1,E06000001,Hartlepool,,447157,531476,-1.27023,54.6762,9.364074e+07,69780.416446
1,2,E06000002,Middlesbrough,,451141,516887,-1.21099,54.5447,5.387613e+07,42262.990135
2,3,E06000003,Redcar and Cleveland,,464359,519597,-1.00611,54.5675,2.448759e+08,96548.932570
3,4,E06000004,Stockton-on-Tees,,444937,518183,-1.30669,54.5569,2.049579e+08,115541.332608
4,5,E06000005,Darlington,,428029,515648,-1.56835,54.5353,1.974976e+08,105784.983937
5,6,E06000006,Halton,,354246,382146,-2.68853,53.3342,7.908640e+07,76340.008096
6,7,E06000007,Warrington,,362744,388456,-2.56167,53.3916,1.806453e+08,111798.638796
7,8,E06000008,Blackburn with Darwen,,369490,422806,-2.46360,53.7008,1.370625e+08,63732.321791
8,9,E06000009,Blackpool,,332763,436633,-3.02284,53.8216,3.487525e+07,34580.344897
9,10,E06000010,"Kingston upon Hull, City of",,511894,431716,-0.30380,53.7698,7.146231e+07,63584.402721
10,11,E06000011,East Riding of Yorkshire,,488051,443608,-0.66203,53.8812,2.406543e+09,496921.153101
11,12,E06000012,North East Lincolnshire,,523454,404574,-0.13927,53.5234,1.919256e+08,85139.037739
12,13,E06000013,North Lincolnshire,,497798,410996,-0.52410,53.5864,8.463281e+08,237755.597007
13,14,E06000014,York,,460864,452589,-1.07375,53.9658,2.719447e+08,100435.197589
14,15,E06000015,Derby,,435609,335375,-1.47189,52.9146,7.801693e+07,49298.858278
15,16,E06000016,Leicester,,458946,304594,-1.13040,52.6359,7.339883e+07,50775.921930
16,17,E06000017,Rutland,,492992,308655,-0.62630,52.6676,3.937508e+08,120252.809377
17,18,E06000018,Nottingham,,456082,339969,-1.16667,52.9542,7.458847e+07,58022.445388
18,19,E06000019,"Herefordshire, County of",,349434,242834,-2.73931,52.0815,2.179710e+09,338901.362686
19,20,E06000020,Telford and Wrekin,,367035,313057,-2.48941,52.7142,2.903246e+08,115362.660918
20,21,E06000021,Stoke-on-Trent,,389438,346652,-2.15888,53.0171,9.343437e+07,62250.298060
21,22,E06000022,Bath and North East Somerset,,366217,161999,-2.48654,51.3560,3.511751e+08,137383.291806
22,23,E06000023,"Bristol, City of",,359990,174846,-2.57742,51.4711,1.096945e+08,108901.920657
23,24,E06000024,North Somerset,,347611,166719,-2.75442,51.3971,3.747074e+08,148321.812623
24,25,E06000025,South Gloucestershire,,367559,183196,-2.46922,51.5467,4.969498e+08,140311.706220
25,26,E06000026,Plymouth,,249941,58251,-4.11303,50.4049,7.988748e+07,88995.849746
26,27,E06000027,Torbay,,289730,64608,-3.55523,50.4709,6.292514e+07,73591.780927
27,28,E06000028,Bournemouth,,410069,93928,-1.85864,50.7449,4.619276e+07,47153.649474
28,29,E06000029,Poole,,403393,93466,-1.95327,50.7408,6.475111e+07,71495.230650
29,30,E06000030,Swindon,,418551,186564,-1.73367,51.5776,2.301046e+08,99570.969656
...,...,...,...,...,...,...,...,...,...,...
361,362,S12000040,West Lothian,,299483,668514,-3.60909,55.8992,4.288180e+08,131722.798591
362,363,S12000041,Angus,,345535,759594,-2.89162,56.7248,2.185221e+09,309577.561793
363,364,S12000042,Dundee City,,340291,732145,-2.97095,56.4776,5.984307e+07,46153.940715
364,365,S12000044,North Lanarkshire,,277984,665608,-3.95140,55.8681,4.722577e+08,160705.893224
365,366,S12000045,East Dunbartonshire,,261240,676154,-4.22417,55.9583,1.744712e+08,97703.602548
366,367,S12000046,Glasgow City,,261534,667033,-4.21479,55.8765,1.747567e+08,132035.298477
367,368,S12000047,Fife,,339197,704726,-2.98235,56.2312,1.325178e+09,326035.266291
368,369,S12000048,Perth and Kinross,,284304,744186,-3.88480,56.5753,5.383648e+09,611000.775222
369,370,W06000001,Isle of Anglesey,Ynys Mn,245222,378346,-4.32291,53.2794,7.144257e+08,330499.246709
370,371,W06000002,Gwynedd,Gwynedd,277968,334967,-3.81559,52.8983,2.548210e+09,559831.710602
371,372,W06000003,Conwy,Conwy,283293,362562,-3.74646,53.1474,1.130299e+09,267851.686659
372,373,W06000004,Denbighshire,Sir Ddinbych,309843,355416,-3.34761,53.0883,8.385193e+08,224218.256985
373,374,W06000005,Flintshire,Sir y Fflint,321564,369303,-3.17605,53.2150,4.375133e+08,193171.187641
374,375,W06000006,Wrexham,Wrecsam,333523,345387,-2.99203,53.0017,5.036850e+08,184245.431311
375,376,W06000008,Ceredigion,Ceredigion,267126,268437,-3.94994,52.2980,1.789014e+09,356800.984995
376,377,W06000009,Pembrokeshire,Sir Benfro,199821,221391,-4.90818,51.8551,1.618516e+09,655661.923421
377,378,W06000010,Carmarthenshire,Sir Gaerfyrddin,247954,224133,-4.21110,51.8950,2.371109e+09,537336.256380
378,379,W06000011,Swansea,Abertawe,264022,197308,-3.96723,51.6581,3.795664e+08,253604.531153
379,380,W06000012,Neath Port Talbot,Castell-nedd Port Talbot,279261,195412,-3.74638,51.6445,4.423035e+08,168765.998542
380,381,W06000013,Bridgend,Pen-y-bont ar Ogwr,288241,185868,-3.61361,51.5606,2.507610e+08,87633.621174
381,382,W06000014,Vale of Glamorgan,Bro Morgannwg,302946,173083,-3.39803,51.4484,3.311688e+08,104195.395485
382,383,W06000015,Cardiff,Caerdydd,315270,178887,-3.22212,51.5025,1.423648e+08,76942.665637
383,384,W06000016,Rhondda Cynon Taf,Rhondda Cynon Taf,302237,192395,-3.41359,51.6218,4.241228e+08,127194.237312
384,385,W06000018,Caerphilly,Caerffili,317245,195259,-3.19753,51.6500,2.773555e+08,113851.532180
385,386,W06000019,Blaenau Gwent,Blaenau Gwent,318236,206771,-3.18592,51.7536,1.087179e+08,64673.772445
386,387,W06000020,Torfaen,Torfaen,327459,200480,-3.05101,51.6984,1.262122e+08,79049.833853
387,388,W06000021,Monmouthshire,Sir Fynwy,337812,209231,-2.90280,51.7783,8.502912e+08,218310.870415
388,389,W06000022,Newport,Casnewydd,337897,187433,-2.89769,51.5823,1.905076e+08,148747.859591
389,390,W06000023,Powys,Powys,302328,273254,-3.43533,52.3486,5.195410e+09,590106.160512
390,391,W06000024,Merthyr Tydfil,Merthyr Tudful,305916,206424,-3.36425,51.7486,1.119431e+08,65340.207828

In [39]:
lad_latlon = lad_latlon.rename(columns={'lad18nm':'LAD'})

In [45]:
df_merge = df.merge(lad_latlon, on='LAD', how='left')

In [49]:
df_merge[df_merge['objectid'].isna()]

,LAD,Mean,objectid,lad18cd,lad18nmw,bng_e,bng_n,long,lat,st_areashape,st_lengthshape
115,"Anglesey, Isle of",26.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,"Vale of Glamorgan, The",28.3251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,"Rhondda, Cynon, Taff",29.9231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,Argyll & Bute,33.2173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,"Scot Borders, The",23.2812,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150,"Edinburgh, City of",29.1662,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,Eilean Siar (Western Isles),34.9226,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,Northern Ireland,25.2366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Abroad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,Mid Bedfordshire,34.9258,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,South Bedfordshire,30.754,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Chester,29.4467,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
184,Congleton,24.1173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Crewe and Nantwich,32.3536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,Ellesmere Port and Neston,36.4944,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,Macclesfield,29.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Vale Royal,27.8437,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Caradon,27.3162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Carrick,29.4369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,Kerrier,19.333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,North Cornwall,16.3426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Penwith,23.1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,Restormel,22.7284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,Chester-le-Street,22.6405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,Derwentside,28.5164,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,Durham,26.9482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Easington,21.9573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Sedgefield,21.6634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,Teesdale,16.307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,Wear Valley,17.0821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,St. Albans,30.7622,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
282,Shepway,22.0655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,Kings Lynn and West Norfolk,24.0173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Alnwick,34.7939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,Berwick-upon-Tweed,19.7078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,Blyth Valley,38.3331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Castle Morpeth,51.9899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,Tynedale,37.469,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,Wansbeck,16.7016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
352,Bridgnorth,38.0023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,North Shropshire,31.4555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
354,Oswestry,24.122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Shrewsbury and Atcham,21.1624,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,South Shropshire,12.7238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,St. Edmundsbury,22.3967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,Kennet,29.0353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,North Wiltshire,30.1315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,Salisbury,28.749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,West Wiltshire,27.3221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Test

In [98]:
url = 'https://opendata.arcgis.com/datasets/180a5c44cfc643c0848813f0a81c1bd1_0.zip?outSR=%7B%22latestWkid%22%3A27700%2C%22wkid%22%3A27700%7D'

In [99]:
fname = f'shp_01'

In [100]:
travel_dir = f'{project_dir}/data/raw/travel'
if not os.path.isdir(travel_dir):
    os.mkdir(travel_dir)

In [106]:
fout = f'{travel_dir}/{fname}.zip'

In [107]:
fout

'/mnt/c/Users/aotubusen/Documents/DS Projects/beis_2020/beis-indicators/ds/data/raw/travel/shp_01.zip'

In [108]:
if not os.path.isfile(fout):
    urlretrieve(url, fout)

In [109]:
project_zip_dir = f'{project_dir}/data/raw/travel/shp_01.zip'
# project_zip_dir = BROADBAND_YEARS_URL[year]
project_zip = ZipFile(project_zip_dir)

In [73]:
project_zip

In [97]:
[pd.read_csv(project_zip.open(text_file.filename))
               for text_file in project_zip.infolist()
               if 'AM' in text_file.filename
                and 'HW' in text_file.filename]

[          LSOA_code     RepTime  Percentage Services   uid  NearOrder
 0         E01000001   29.109724                  100  R198          0
 1         E01000001   30.109724                  100   R32          1
 2         E01000001   34.226684                  100  R242          2
 3         E01000001   38.109724                  100  R154          3
 4         E01000001   38.350382                  100    R1          4
 5         E01000001   38.619117                  100  R467          5
 6         E01000001   38.859812                  100  R104          6
 7         E01000001   39.232699                  100  R299          7
 8         E01000001   40.109724                  100  R155          8
 9         E01000001   40.859812                  100  R354          9
 10        E01000001   44.239024                  100  R479         10
 11        E01000001   44.350382                  100  R107         11
 12        E01000001   44.612984                  100  R191         12
 13        E01000001   44.859812                  100  R179         13
 14        E01000001   46.232699                  100   R72         14
 15        E01000001   46.350382                  100  R325         15
 16        E01000001   46.587845                  100  R256         16
 17        E01000001   46.853605                  100    R6         17
 18        E01000001   46.859812                  100  R300         18
 19        E01000001   46.981559                  100   R59         19
 20        E01000001   47.109724                  100  R349         20
 21        E01000001   47.619117                  100  R312         21
 22        E01000001   48.226684                  100  R293         22
 23        E01000001   48.587845                  100   R31         23
 24        E01000001   48.739102                  100  R466         24
 25        E01000001   49.481252                  100  R353         25
 26        E01000001   49.619117                  100   R29         26
 27        E01000001   50.239024                  100  R270         27
 28        E01000001   50.587845                  100  R275         28
 29        E01000001   50.619117                  100  R316         29
 ...             ...         ...                  ...   ...        ...
 16869666  W01001896  271.394021                  100  R180        462
 16869667  W01001896  273.000000                  100  R282        463
 16869668  W01001896  273.000000                  100  R457        464
 16869669  W01001896  275.000000                  100  R461        465
 16869670  W01001896  275.000000                  100  R458        466
 16869671  W01001896  276.000000                  100  R460        467
 16869672  W01001896  276.000000                  100   R11        468
 16869673  W01001896  277.000000                  100  R456        469
 16869674  W01001896  277.000000                  100  R476        470
 16869675  W01001896  278.000000                  100  R262        471
 16869676  W01001896  279.000000                  100  R463        472
 16869677  W01001896  280.000000                  100  R244        473
 16869678  W01001896  280.000000                  100   R12        474
 16869679  W01001896  284.000000                  100  R432        475
 16869680  W01001896  285.000000                  100  R347        476
 16869681  W01001896  285.000000                  100  R303        477
 16869682  W01001896  288.000000                  100  R462        478
 16869683  W01001896  291.000000                  100  R150        479
 16869684  W01001896  295.000000                  100   R66        480
 16869685  W01001896  297.196040                  100  R281        481
 16869686  W01001896  300.000000                  100  R323        482
 16869687  W01001896  310.000000                  100  R445        483
 16869688  W01001896  310.000000                  100  R487        484
 16869689  W01001896  318.000000                  100  R451        485
 16869690  W01001896  318.000000                  100  R450        486
 16869691  W01001896  320.000000                  100  R449        487
 16869692  W01001896  329.000000                  100  R384        488
 16869693  W01001896  331.000000                  100  R448        489
 16869694  W01001896  349.000000                  100  R447        490
 16869695  W01001896  386.394021                  100  R446        491

 [16869696 rows x 5 columns]]

In [112]:
project_zip.infolist()

[<ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.shp' compress_type=deflate filemode='-rw-r--r--' file_size=133454512 compress_size=69718529>,
 <ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.dbf' compress_type=deflate filemode='-rw-r--r--' file_size=4434988 compress_size=1300868>,
 <ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.prj' compress_type=deflate filemode='-rw-r--r--' file_size=417 compress_size=281>,
 <ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.cpg' filemode='-rw-r--r--' file_size=5>,
 <ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.shx' compress_type=deflate filemode='-rw-r--r--' file_size=275124 compress_size=178827>,
 <ZipInfo filename='Lower_Layer_Super_Output_Areas__December_2001__EW_BGC.xml' compress_type=deflate filemode='-rw-r--r--' file_size=41165 compress_size=3068>]

In [111]:
project_zip.infolist().filename.endswith('.shp')

AttributeError: 'list' object has no attribute 'filename'