In [1]:
%run ../notebook_preamble.ipy

from beis_indicators.utils import camel_to_snake

In [49]:
df = pd.read_csv(f'{data_path}/raw/hebci/table-2a.csv', header=11)
# df.columns = [camel_to_snake(c.replace(' ', '')) for c in df.columns]
df['year'] = df['Academic Year'].str[:4].astype(int)
df = df[df['Unit'] == '£000s']

In [50]:
df.columns

Index(['UKPRN', 'HE Provider', 'Country of HE provider',
       'Region of HE provider', 'Academic Year', 'Type of service',
       'Type of organisation', 'Number/Value Marker', 'Unit', 'Number/Value',
       'year'],
      dtype='object')

In [59]:
consultancy_facilities_sme_income = df[
    (df['Type of organisation'] == "SME's") 
    & ((df['Type of service'] == 'Facilities and equipment related')
        | (df['Type of service'] == 'Consultancy'))]

In [61]:
consultancy_facilities_sme_income.groupby(['UKPRN', 'year']).sum()

               Number/Value
UKPRN    year
10000163 2016             0
         2017            23
         2018             0
10000291 2014          8886
         2015          8629
...                     ...
10040812 2017           283
         2018           285
10080811 2016             0
         2017           223
         2018           443

[819 rows x 1 columns]

In [65]:
con_fac_non_sme_income = df[
    (df['Type of organisation'] == "Other (non-SME) commercial businesses") 
    & ((df['Type of service'] == 'Facilities and equipment related')
        | (df['Type of service'] == 'Consultancy'))]

In [64]:
con_fac_non_sme_income = con_fac_non_sme_income.rename(columns={'Number/Value': col})

consultancy_facilities_non_sme_income.groupby(['UKPRN', 'year']).sum()

               Number/Value
UKPRN    year
10000163 2016             0
         2017             0
         2018            14
10000291 2014          8868
         2015          8540
...                     ...
10040812 2017            74
         2018            85
10080811 2016             0
         2017           514
         2018           596

[819 rows x 1 columns]

In [54]:
research_non_sme_income = df[
    (df['Type of organisation'] == "Other (non-SME) commercial businesses") 
    & (df['Type of service'] == 'Contract research')]

In [55]:
research_sme_income = df[
    (df['Type of organisation'] == "SME's") 
    & (df['Type of service'] == 'Contract research')]

In [56]:
research_public_income = df[
    (df['Type of organisation'] == "Non-commercial organisations") 
    & (df['Type of service'] == 'Contract research')]

In [22]:
df['Type of service'].value_counts()

Contract research                   6552
Facilities and equipment related    6552
Consultancy                         6552
Name: Type of service, dtype: int64

In [44]:
df['Type of organisation'].value_counts()

SME's                                    4914
Non-commercial organisations             4914
Other (non-SME) commercial businesses    4914
Total                                    4914
Name: Type of organisation, dtype: int64